.popular-movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
}

img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 0.8rem;
}

.filter-container button {
    margin-right: 2rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: white;
    color: rgb(7, 180, 243);
    border-radius: 1rem;
    border: 2px solid rgb(4, 129, 207);
    font-weight: bold;
    cursor: pointer;
}

button.active {
    background-color: rgb(7, 180, 243);
    color: white;
}